@charset "utf-8";
input[type=submit], input[type=button]{-webkit-appearance:none;}
html, body{
	line-height: 1;
	font-family: 'Noto Sans KR';
}
html{
	font-size: 16px;
	color: #222;
}
body{
	font-size: 16px;
	color: #222;
	font-family: 'Noto Sans KR';
	letter-spacing: -0.05rem;
}
a{ color: #222; text-decoration: none;}
header{position: fixed; z-index: 10; width: 100%; top: 0; left: 0;}
img{ max-width: 100%;}
button{ cursor: pointer; background: #fff; border: none; margin: 0; padding: 0; font-family: 'Noto Sans KR';}
input, select, textarea {
outline-style:none;
border-radius:0px 0px;
-webkit-appearance:none;
font: inherit;
margin: 0;
font-family: inherit;
-webkit-writing-mode: horizontal-tb !important;
text-rendering: auto;
color: -internal-light-dark(black, white);
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: start;
appearance: textfield;
background-color: transparent;
-webkit-rtl-ordering: logical;
cursor: text;
margin: 0em;
border: 0; 
-webkit-appearance: none; 
-moz-appearance: none; 
appearance: none;
box-sizing: border-box;
appearance:none;
font-family: 'Noto Sans KR';
}
select::-ms-expand {
display: none;/* 화살표 없애기 for IE10, 11*/
}

select{ cursor:pointer;}
input[type="submit"]{ cursor:pointer;}