
@media all and (max-width:1024px) {
/*메인*/
.main_header{ display: none; }
.gnb_btn{ display: block;}
.sub_menu{ display: none;}
.container_wrap{ padding: 0 25px;}
.container_wrap ul li{ width: 50%; border-right: none; border-bottom: 1px solid #d5deec; padding: 25px 0;}
.container_wrap ul li:nth-of-type(3){ padding-left: 0; border-bottom: none;}
.container_wrap ul li:nth-of-type(4){ padding-left: 0; border-bottom: none;}
.top_bar{ position: fixed; top:0; left:0;}
.main_header{ position: fixed; top:56px; left:0;}
.top_bar_con .gnb{ display: none;}
.banner{ margin-top: 56px;}
.swiper_wrap{ bottom: 15px; justify-content: center;}

/*서브 section*/
.home{ top: 56px;}

}

@media all and (max-width:640px) {
/*메인*/
.container_wrap ul li{ width: 100%;}
.container_wrap ul li:nth-of-type(3){ border-bottom: 1px solid #d5deec;}

/*페이징*/
.paging ul li.m_none{ display: none;}
.paging ul li{ width: 30px; height: 30px; line-height: 28px;}
.paging .num{ margin: -2px; padding: 0 8px;}
.paging .num li{ line-height: 28px; margin: 2px;}
.paging .prev_btn{ margin: -2px;}
.paging .prev_btn li{ margin: 2px; }
.paging .next_btn{ margin: -2px;}
.paging .next_btn li{ margin: 2px;}

/*테이블 가로스크롤*/
.responsive_table{overflow-x: auto;}
	
} 
